# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Build Check

on:
  pull_request:
    branches:
      - "master"
    paths:
      - 'src/**/*.cs'
      - 'test/**/*.cs'


jobs:
  BuildAndTest:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
  
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
            dotnet-version: 9.0.x

      - name: Restore dependencies
        run: dotnet restore "./src/Application.Host/Application.Host.csproj"

      - name: Build Host
        run: dotnet build "./src/Application.Host/Application.Host.csproj" --no-restore -c Release

      - name: Test Infrastructure
        run: dotnet test  --filter "FullyQualifiedName~ServiceTest.Infrastructure"  --logger "GitHubActions;verbosity=detailed" "./test/ServiceTest/ServiceTest.csproj"

      - name: Test Server
        run: dotnet test  --filter "FullyQualifiedName~ServiceTest.Games"  --logger "GitHubActions;verbosity=detailed" "./test/ServiceTest/ServiceTest.csproj"
