# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Build Check

on:
  pull_request:
    branches:
      - "master"
    paths:
      - 'src/**/*.csproj'
      - 'src/**/*.cs' 
      - 'test/**/*.csproj'
      - 'test/**/*.cs'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  BuildAndTest:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest

    runs-on: ${{ matrix.os }}

    env:
      RUA_MS_WZConfig__BaseDir: ${{ github.workspace }}/src/Application.Resources/wz
      RUA_MS_ScriptConfig__BaseDir: ${{ github.workspace }}/src/Application.Resources/scripts

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
  
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
            dotnet-version: 10.0.x

      - name: Restore dependencies
        run: dotnet restore "./src/Application.Host/Application.Host.csproj"

      - name: Build Host
        run: dotnet build "./src/Application.Host/Application.Host.csproj" --no-restore -c Release

      - name: Test Infrastructure
        run: dotnet test  --filter "FullyQualifiedName~ServiceTest.Infrastructure" --blame-crash --logger "GitHubActions;verbosity=detailed" "./test/ServiceTest/ServiceTest.csproj"

      - name: Test Server
        run: dotnet test  --filter "FullyQualifiedName~ServiceTest.Games" --blame-crash --logger "GitHubActions;verbosity=detailed" "./test/ServiceTest/ServiceTest.csproj"
